In [207]:
import numpy as np
from sklearn.neighbors import NearestNeighbors
from scipy import sparse

eps = 7. / 3 - 4. / 3 - 1


def L2_norm_row(X):
    return sparse.spdiags(1. / (np.sqrt(sum(X * X, 2)) + eps), 0, len(X), len(X)) * X


def tr(A, B):
    x = np.multiply(A, B)
    return (x.sum(axis=0)).sum(axis=0)


def construct_A(X, k, binary=False):

    nbrs = NearestNeighbors(n_neighbors=1 + k).fit(X)
    if binary:
        return nbrs.kneighbors_graph(X)
    else:
        return nbrs.kneighbors_graph(X, mode='distance')


def LCE(R, Xu, A, k=15, alpha=0.1, beta=0.05, lamb=0.001, epsilon=0.01, maxiter=150, verbose=True):

    n = R.shape[0]
    v1 = R.shape[1]
    v2 = Xu.shape[1]

    W = np.abs(np.random.rand(n, k))
    Hi = np.abs(np.random.rand(k, v1))
    Hu = np.abs(np.random.rand(k, v2))

    D = sparse.dia_matrix((A.sum(axis=0), 0), A.shape)

    gamma = 1. - alpha
    trRtR = tr(R, R)
    trXutXu = tr(Xu, Xu)

    WtW = W.T.dot(W)
    WtR = W.T.dot(R)
    WtXu = W.T.dot(Xu)
    WtWHi = WtW.dot(Hi)
    WtWHu = WtW.dot(Hu)
    DW = D.dot(W)
    AW = A.dot(W)

    itNum = 1
    delta = 2.0 * epsilon

    ObjHist = []

    while True:

        # update H
        Hi_1 = np.divide(
            (alpha * WtR), np.maximum(alpha * WtWHi + lamb * Hi, 1e-10))
        Hi = np.multiply(Hi, Hi_1)

        Hu_1 = np.divide(
            (gamma * WtXu), np.maximum(gamma * WtWHu + lamb * Hu, 1e-10))
        Hu = np.multiply(Hu, Hu_1)

        # update W
        W_t1 = alpha * R.dot(Hi.T) + gamma * Xu.dot(Hu.T) + beta * AW
        W_t2 = alpha * W.dot(Hi.dot(Hi.T)) + gamma * \
            W.dot(Hu.dot(Hu.T)) + beta * DW + lamb * W
        W_t3 = np.divide(W_t1, np.maximum(W_t2, 1e-10))
        W = np.multiply(W, W_t3)

        # calculate objective function
        WtW = W.T.dot(W)
        WtR = W.T.dot(R)
        WtXu = W.T.dot(Xu)
        WtWHi = WtW.dot(Hi)
        WtWHu = WtW.dot(Hu)
        DW = D.dot(W)
        AW = A.dot(W)

        tr1 = alpha * (trRtR - 2. * tr(Hi, WtR) + tr(Hi, WtWHi))
        tr2 = gamma * (trXutXu - 2. * tr(Hu, WtXu) + tr(Hu, WtWHu))
        tr3 = beta * (tr(W, DW) - tr(W, AW))
        tr4 = lamb * (np.trace(WtW) + tr(Hi, Hi) + tr(Hu, Hu))

        Obj = tr1 + tr2 + tr3 + tr4
        ObjHist.append(Obj)

        if itNum > 1:
            delta = abs(ObjHist[-1] - ObjHist[-2])
            if verbose:
                print ("Iteration: ", itNum, "Objective: ", Obj, "Delta: ", delta)
            if itNum > maxiter or delta < epsilon:
                break

        itNum += 1

    return W, Hu, Hi

def get_recommendations(x_u, Hu, Hi, topk=10):
    w = np.linalg.lstsq(Hu.T, x_u, rcond=-1)[0]
    r = (Hi.T.dot(w)).T
    return np.flip(np.argsort(r)[-topk:], axis=0)

In [9]:
import pandas as pd

In [101]:
data_dir = '/home/vadim/playlist_generation/data/random_data'

In [151]:
tracks = pd.read_csv('{}/tracks.csv'.format(data_dir), index_col=0)
artists = pd.read_csv('{}/artists.csv'.format(data_dir), index_col=0)
albums = pd.read_csv('{}/albums.csv'.format(data_dir), index_col=0)
transactions = pd.read_csv('{}/transactions.csv'.format(data_dir), index_col=0)
playlists = pd.read_csv('{}/playlists.csv'.format(data_dir), index_col=0)

In [152]:
albums.shape

(2089, 2)

In [153]:
tracks.shape

(2200, 4)

In [154]:
artists.shape

(1817, 2)

In [155]:
playlists.name.unique().shape

(854,)

In [156]:
transactions.shape

(5706, 2)

In [157]:
def get_new_items(items):
    items_new_old = pd.DataFrame({'new': np.arange(items.shape[0]), 'old': items.iloc[:, 0].values})
    ids = np.arange(items.shape[0]).reshape(-1, 1)
    data = items.iloc[:, 1:].values
    new_items = pd.DataFrame(np.hstack((ids, data)), columns=items.columns)
    return new_items, items_new_old

In [158]:
def get_new_tracks(tracks, albums_old_new, artists_old_new):
    ar_ids = []
    al_ids = []
    for el in tracks.itertuples():
        ar_ids.append(artists_old_new[artists_old_new.old == el.artistid].new.values[0])
        al_ids.append(albums_old_new[albums_old_new.old == el.albumid].new.values[0])
    new_tracks = tracks.copy()
    new_tracks.artistid = ar_ids
    new_tracks.albumid = al_ids
    return get_new_items(new_tracks)

In [159]:
def get_new_transactions(transactions, tracks_old_new, playlists_old_new):
    p_ids = []
    t_ids = []
    for el in transactions.itertuples():
        p_ids.append(playlists_old_new[playlists_old_new.old == el.userid].new.values[0])
        t_ids.append(tracks_old_new[tracks_old_new.old == el.trackid].new.values[0])
    return pd.DataFrame({'pid': p_ids, 'trackid': t_ids})

In [175]:
def get_R_and_Xu(tracks, albums, artists, playlists, transactions):
    R = np.zeros((playlists.shape[0], tracks.shape[0]))
    for el in transactions.itertuples():
        R[el.pid, el.trackid] = 1
    Xu = np.zeros((playlists.shape[0], artists.shape[0]))
    for pid in playlists['pid']:
        for track in tracks.itertuples():
            if R[pid, track.trackid] == 1:
                Xu[pid, track.artistid] = 1
    return R, Xu

In [161]:
new_albums, albums_old_new = get_new_items(albums)

In [162]:
new_albums.head()

   albumid  popular
0        0       19
1        1      960
2        2      242
3        3    22750
4        4        2

In [163]:
albums_old_new.head()

   new     old
0    0   65575
1    1    7353
2    2   13527
3    3     357
4    4  148399

In [164]:
new_artists, artists_old_new = get_new_items(artists)

In [165]:
new_playlists, playlists_old_new = get_new_items(playlists)

In [166]:
new_playlists.head()

  pid       name num_followers
0   0  going out             1
1   1   FALL '16             5
2   2    content             1
3   3        Rap             1
4   4      Woods             1

In [167]:
playlists_old_new.head()

   new     old
0    0  822314
1    1  822595
2    2  822608
3    3  732129
4    4  732405

In [170]:
new_tracks, tracks_old_new = get_new_tracks(tracks, albums_old_new, artists_old_new)

In [171]:
new_tracks.head()

   trackid  popular  artistid  albumid
0        0     4862       385     1279
1        1     7706      1643     1710
2        2      473      1295     1086
3        3      174      1313      484
4        4     6656        66      833

In [172]:
new_transactions = get_new_transactions(transactions, tracks_old_new, playlists_old_new)

In [173]:
new_transactions.head()

   pid  trackid
0    0      243
1    0      389
2    0     2084
3    1      178
4    2      869

In [176]:
R, Xu = get_R_and_Xu(new_tracks, new_albums, new_artists, new_playlists, new_transactions)

In [177]:
R.shape

(1000, 2200)

In [178]:
Xu.shape

(1000, 1817)

In [179]:
A = construct_A(Xu, 10, binary=True)

In [182]:
W, Hu, Hi = LCE(R, Xu, A)

Iteration:  2 Objective:  955.5861173056187 Delta:  2386.6267236437625
Iteration:  3 Objective:  -392.00176742361793 Delta:  1347.5878847292365
Iteration:  4 Objective:  -439.4319381218032 Delta:  47.43017069818529
Iteration:  5 Objective:  128.69620109775713 Delta:  568.1281392195604
Iteration:  6 Objective:  928.6899217561408 Delta:  799.9937206583837
Iteration:  7 Objective:  1699.5117826112364 Delta:  770.8218608550956
Iteration:  8 Objective:  2343.3830283454517 Delta:  643.8712457342153
Iteration:  9 Objective:  2859.5645931555346 Delta:  516.1815648100828
Iteration:  10 Objective:  3278.7073536108546 Delta:  419.14276045532006
Iteration:  11 Objective:  3630.394854737739 Delta:  351.6875011268844
Iteration:  12 Objective:  3934.1572927571947 Delta:  303.76243801945566
Iteration:  13 Objective:  4200.539636110372 Delta:  266.3823433531775
Iteration:  14 Objective:  4434.553436545745 Delta:  234.013800435373
Iteration:  15 Objective:  4638.586912757755 Delta:  204.0334762120101
Iteration:  16 Objective:  4814.179636214368 Delta:  175.59272345661248
Iteration:  17 Objective:  4962.8777926343 Delta:  148.69815641993227
Iteration:  18 Objective:  5086.5245063362845 Delta:  123.64671370198448
Iteration:  19 Objective:  5187.2639431057805 Delta:  100.73943676949602
Iteration:  20 Objective:  5267.431929527735 Delta:  80.16798642195408
Iteration:  21 Objective:  5329.424467977433 Delta:  61.99253844969826
Iteration:  22 Objective:  5375.584796287601 Delta:  46.16032831016855
Iteration:  23 Objective:  5408.121972716967 Delta:  32.5371764293659
Iteration:  24 Objective:  5429.060743618459 Delta:  20.938770901491807
Iteration:  25 Objective:  5440.217241008009 Delta:  11.156497389550168
Iteration:  26 Objective:  5443.193728297115 Delta:  2.9764872891055347
Iteration:  27 Objective:  5439.385965360091 Delta:  3.8077629370236536
Iteration:  28 Objective:  5429.998083104581 Delta:  9.387882255509794
Iteration:  29 Objective:  5416.061492528417 Delta:  13.936590576164235
Iteration:  30 Objective:  5398.455472519498 Delta:  17.606020008919586
Iteration:  31 Objective:  5377.92771745158 Delta:  20.527755067917496
Iteration:  32 Objective:  5355.11364521254 Delta:  22.814072239039888
Iteration:  33 Objective:  5330.553731742657 Delta:  24.559913469883213
Iteration:  34 Objective:  5304.708507924003 Delta:  25.84522381865372
Iteration:  35 Objective:  5277.97112559929 Delta:  26.737382324713508
Iteration:  36 Objective:  5250.677590217408 Delta:  27.293535381882066
Iteration:  37 Objective:  5223.114890818759 Delta:  27.562699398648874
Iteration:  38 Objective:  5195.527341407806 Delta:  27.587549410953216
Iteration:  39 Objective:  5168.121489069377 Delta:  27.405852338428303
Iteration:  40 Objective:  5141.069952674421 Delta:  27.0515363949562
Iteration:  41 Objective:  5114.514533101017 Delta:  26.555419573403924
Iteration:  42 Objective:  5088.56888802622 Delta:  25.94564507479754
Iteration:  43 Objective:  5063.32100273278 Delta:  25.24788529344005
Iteration:  44 Objective:  5038.835627397637 Delta:  24.485375335142635
Iteration:  45 Objective:  5015.156795052667 Delta:  23.678832344970033
Iteration:  46 Objective:  4992.310481021732 Delta:  22.84631403093499
Iteration:  47 Objective:  4970.307403997562 Delta:  22.003077024170125
Iteration:  48 Objective:  4949.145907833314 Delta:  21.161496164248092
Iteration:  49 Objective:  4928.814825048675 Delta:  20.331082784638966
Iteration:  50 Objective:  4909.296202226335 Delta:  19.51862282234015
Iteration:  51 Objective:  4890.567772575997 Delta:  18.728429650337603
Iteration:  52 Objective:  4872.605103699144 Delta:  17.96266887685306
Iteration:  53 Objective:  4855.38337636 Delta:  17.22172733914431
Iteration:  54 Objective:  4838.878733287073 Delta:  16.50464307292623
Iteration:  55 Objective:  4823.069079205522 Delta:  15.809654081551344
Iteration:  56 Objective:  4807.934223271302 Delta:  15.134855934220468
Iteration:  57 Objective:  4793.455431593555 Delta:  14.478791677746813
Iteration:  58 Objective:  4779.614681097604 Delta:  13.840750495950488
Iteration:  59 Objective:  4766.393933514892 Delta:  13.220747582712647
Iteration:  60 Objective:  4753.774598713064 Delta:  12.61933480182779
Iteration:  61 Objective:  4741.737220579444 Delta:  12.037378133620223
Iteration:  62 Objective:  4730.261314326154 Delta:  11.475906253289395
Iteration:  63 Objective:  4719.325215511844 Delta:  10.936098814309844
Iteration:  64 Objective:  4708.905725914325 Delta:  10.419489597519714
Iteration:  65 Objective:  4698.9773807599395 Delta:  9.92834515438517
Iteration:  66 Objective:  4689.511610360457 Delta:  9.465770399482608
Iteration:  67 Objective:  4680.47607798354 Delta:  9.035532376917217
Iteration:  68 Objective:  4671.834492929684 Delta:  8.641585053856033
Iteration:  69 Objective:  4663.5470094869725 Delta:  8.287483442711164
Iteration:  70 Objective:  4655.571207380663 Delta:  7.975802106309857
Iteration:  71 Objective:  4647.863641587412 Delta:  7.7075657932509785
Iteration:  72 Objective:  4640.381762330762 Delta:  7.481879256649336
Iteration:  73 Objective:  4633.08584333643 Delta:  7.295918994332169
Iteration:  74 Objective:  4625.941382275019 Delta:  7.144461061410766
Iteration:  75 Objective:  4618.921621493013 Delta:  7.019760782006415
Iteration:  76 Objective:  4612.009550748375 Delta:  6.912070744638186
Iteration:  77 Objective:  4605.198896977499 Delta:  6.810653770875433
Iteration:  78 Objective:  4598.4940126261945 Delta:  6.704884351304827
Iteration:  79 Objective:  4591.908909004692 Delta:  6.58510362150264
Iteration:  80 Objective:  4585.465799157869 Delta:  6.443109846823063
Iteration:  81 Objective:  4579.194470586308 Delta:  6.271328571560844
Iteration:  82 Objective:  4573.128385770993 Delta:  6.066084815314753
Iteration:  83 Objective:  4567.300583228173 Delta:  5.827802542819882
Iteration:  84 Objective:  4561.741459083509 Delta:  5.559124144664565
Iteration:  85 Objective:  4556.476867591458 Delta:  5.264591492050386
Iteration:  86 Objective:  4551.527413506546 Delta:  4.949454084912759
Iteration:  87 Objective:  4546.909165989694 Delta:  4.618247516851625
Iteration:  88 Objective:  4542.635159247517 Delta:  4.274006742177335
Iteration:  89 Objective:  4538.716274898883 Delta:  3.9188843486335827
Iteration:  90 Objective:  4535.160639896954 Delta:  3.5556350019287493
Iteration:  91 Objective:  4531.972164574707 Delta:  3.188475322247541
Iteration:  92 Objective:  4529.149361447922 Delta:  2.8228031267844926
Iteration:  93 Objective:  4526.684908038241 Delta:  2.4644534096814823
Iteration:  94 Objective:  4524.565933399829 Delta:  2.1189746384116006
Iteration:  95 Objective:  4522.774625100403 Delta:  1.7913082994264187
Iteration:  96 Objective:  4521.28917913884 Delta:  1.4854459615626183
Iteration:  97 Objective:  4520.084769360148 Delta:  1.2044097786920247
Iteration:  98 Objective:  4519.134406488198 Delta:  0.9503628719503467
Iteration:  99 Objective:  4518.409634750754 Delta:  0.7247717374439162
Iteration:  100 Objective:  4517.881212070708 Delta:  0.5284226800458782
Iteration:  101 Objective:  4517.519774739486 Delta:  0.3614373312220778
Iteration:  102 Objective:  4517.296487421111 Delta:  0.223287318374787
Iteration:  103 Objective:  4517.183718159846 Delta:  0.11276926126538456
Iteration:  104 Objective:  4517.15582498613 Delta:  0.027893173715710873
Iteration:  105 Objective:  4517.189850765615 Delta:  0.034025779485091334
Iteration:  106 Objective:  4517.265981653919 Delta:  0.07613088830385095
Iteration:  107 Objective:  4517.367440297292 Delta:  0.10145864337300736
Iteration:  108 Objective:  4517.479790896987 Delta:  0.11235059969476424
Iteration:  109 Objective:  4517.590463223466 Delta:  0.11067232647928904
Iteration:  110 Objective:  4517.688998645217 Delta:  0.09853542175096663
Iteration:  111 Objective:  4517.767262254089 Delta:  0.07826360887156625
Iteration:  112 Objective:  4517.818760967251 Delta:  0.051498713162800414
Iteration:  113 Objective:  4517.8377167754015 Delta:  0.018955808150167286
Iteration:  114 Objective:  4517.818807189238 Delta:  0.018909586163317726
Iteration:  115 Objective:  4517.756008836198 Delta:  0.06279835304030712
Iteration:  116 Objective:  4517.642101868815 Delta:  0.113906967382718
Iteration:  117 Objective:  4517.468985829322 Delta:  0.17311603949292476
Iteration:  118 Objective:  4517.228062002598 Delta:  0.240923826724611

Iteration:  119 Objective:  4516.909367505341 Delta:  0.31869449725672894
Iteration:  120 Objective:  4516.499742073666 Delta:  0.40962543167461263
Iteration:  121 Objective:  4515.988275523314 Delta:  0.511466550352452
Iteration:  122 Objective:  4515.364576398482 Delta:  0.6236991248315462
Iteration:  123 Objective:  4514.614339549944 Delta:  0.7502368485384068
Iteration:  124 Objective:  4513.7138302123885 Delta:  0.900509337555377
Iteration:  125 Objective:  4512.634892520332 Delta:  1.07893769205657
Iteration:  126 Objective:  4511.329212679315 Delta:  1.3056798410170813
Iteration:  127 Objective:  4509.728917935614 Delta:  1.6002947437009425
Iteration:  128 Objective:  4507.798918100378 Delta:  1.9299998352362309
Iteration:  129 Objective:  4505.624734439524 Delta:  2.174183660853487
Iteration:  130 Objective:  4503.356816461068 Delta:  2.267917978456353
Iteration:  131 Objective:  4501.112494661745 Delta:  2.2443217993231883
Iteration:  132 Objective:  4498.9756884993385 Delta:  2.136806162406174
Iteration:  133 Objective:  4497.0060385174675 Delta:  1.9696499818710436
Iteration:  134 Objective:  4495.2342310984195 Delta:  1.7718074190479456
Iteration:  135 Objective:  4493.64563614598 Delta:  1.588594952439962
Iteration:  136 Objective:  4492.161385356165 Delta:  1.4842507898147232
Iteration:  137 Objective:  4490.754077016014 Delta:  1.4073083401508484
Iteration:  138 Objective:  4489.628662943903 Delta:  1.125414072111198
Iteration:  139 Objective:  4488.879486349856 Delta:  0.7491765940467303
Iteration:  140 Objective:  4488.430314565427 Delta:  0.44917178442938166
Iteration:  141 Objective:  4488.2205356775285 Delta:  0.2097788878982101
Iteration:  142 Objective:  4488.219146661359 Delta:  0.0013890161690142122

In [227]:
get_recommendations(Xu[5], Hu, Hi, topk=10)

array([2140,  402, 1286,  988,  875,    8, 1415, 1762,  367, 1963])

In [228]:
new_transactions[new_transactions.pid == 5]

    pid  trackid
15    5      420
16    5     2026
17    5      629

In [206]:
np.linalg.lstsq([[1,2,3], [4,5,6], [7,8,9]], [6,15,24], rcond=-1)

(array([1., 1., 1.]),
 array([], dtype=float64),
 2,
 array([1.68481034e+01, 1.06836951e+00, 4.41842475e-16]))