In [3]:
import numpy as np
import pandas as pd

In [4]:
data_dir = '/home/vadim/playlist_generation/data'

In [5]:
tracks = pd.read_csv('{}/tracks.csv'.format(data_dir), index_col=0)

/usr/local/lib/python3.5/dist-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [6]:
print ('Number of most nonpopular',tracks[tracks.popular == 1].shape[0], '\n', 
       'Popularity of most popular', tracks.popular.max(), '\n',
       'Mean popularity', tracks.popular.mean(), '\n',
       'Median',tracks.popular.median(), '\n',
       'Number of users>=10',tracks[tracks.popular >= 10].shape[0], '\n'
       'Number transactions', tracks.popular.sum())
tracks.head()

Number of most nonpopular 638612
 Popularity of most popular 13977
 Mean popularity 15.997936875138299
 Median 1.0
 Number of users>=10 166426
Number transactions 19881836

   trackid  popular  artistid  albumid
0   774269        2      3810    76935
1   432553        2      7239    13835
2  1236511        1    133426   446132
3   969465        1      6838    53879
4   302436        6     16816    35620

In [7]:
artists = pd.read_csv('{}/artists.csv'.format(data_dir), index_col=0)

In [8]:
print ('Number of most nonpopular',artists[artists.popular == 1].shape[0], '\n',
       'Popularity of most popular', artists.popular.max(), '\n'
       'Mean popularity', artists.popular.mean(), '\n',
       'Median',artists.popular.median(), '\n',
       'Number of users>=10',artists[artists.popular >= 10].shape[0], '\n',
       'Number transactions', artists.popular.sum())
artists.head()

Number of most nonpopular 65530
 Popularity of most popular 251773
Mean popularity 111.15181331797775
 Median 3.0
 Number of users>=10 47295
 Number transactions 19881836

   artistid  popular
0     58476        1
1    133660        1
2     42343        3
3    103158        1
4      1656     3577

In [9]:
albums = pd.read_csv('{}/albums.csv'.format(data_dir), index_col=0)
print ('Number of the most nonpopular',albums[albums.popular == 1].shape[0], '\n',
       'Popularity of the most popular', albums.popular.max(), '\n',
       'Mean popularity', albums.popular.mean(), '\n',
       'Median',albums.popular.median(), '\n',
       'Number of users>=10',albums[albums.popular >= 10].shape[0], '\n',
       'Number transactions', albums.popular.sum())
albums.head()

Number of the most nonpopular 166217
 Popularity of the most popular 46526
 Mean popularity 44.37731519715726
 Median 2.0
 Number of users>=10 106367
 Number transactions 19881836

   albumid  popular
0    86118        1
1   362627        3
2   104733       67
3   266531        4
4    60761       46

In [10]:
transactions = pd.read_csv('{}/transactions.csv'.format(data_dir), index_col=0)

/usr/local/lib/python3.5/dist-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [11]:
transactions.head()

      pid  trackid
0  822000        0
1  822000        1
2  822000        2
3  822000        3
4  822000        4

In [34]:
playlists = pd.read_csv('{}/playlists.csv'.format(data_dir), index_col=0)
playlists.head()

      pid         name  num_followers
0  822000          rap              1
1  822001  wedding mix              1
2  822002        Party              1
3  822003         wElP              1
4  822004      Worship              1

In [35]:
playlists.shape

(300000, 3)

In [36]:
playlists.name.unique().shape

(52531,)

In [37]:
playlists['name'].values[2]

'Party'

In [38]:
playlists['name'] = [str(playlists['name'].values[i]).lower() for i in range(playlists.shape[0])]

In [39]:
playlists.name.unique().shape

(29569,)

In [40]:
grouped = playlists[['pid', 'name']].groupby('name')

In [41]:
grouped.count().sort_values(by='pid', ascending=False).head(10)

            pid
name
chill      2803
country    2738
workout    2424
rap        2412
oldies     2249
christmas  1962
rock       1924
party      1655
throwback  1542
jams       1411

In [42]:
tracks.popular.quantile(q=.5)

1.0

In [43]:
def get_threholds(tracks, parts=[1, 0]):
    threholds = []
    n = len(parts) - 1
    for i in range(n):
        t1 = round(tracks.popular.quantile(q=parts[i]))
        t2 = round(tracks.popular.quantile(q=parts[i+1]))
        if i == n - 1:
            t2 = 0
        threholds.append((t1, t2))
    return threholds
thrs = get_threholds(tracks, [1, 0.999, 0.98, 0.88, 0])
thrs

[(13977, 2039), (2039, 109), (109, 11), (11, 0)]

In [44]:
tracks.popular.unique().shape

(2839,)

In [102]:
s = 'the music rock on heart'

In [111]:
reg = re.compile('the ')
reg.sub('', s)

' music rock on heart'

In [45]:
names = playlists['name'].values
for i in range(names.shape[0]):
    names[i] = re.compile('[^a-zA-Z0-9 ]').sub('', names[i])

In [55]:
playlists['name'] = names
grouped = playlists[['pid', 'name']].groupby('name')
grouped.count().sort_values(by='pid', ascending=False).head(50)

               pid
name
              4605
chill         2895
country       2859
workout       2482
rap           2475
oldies        2282
christmas     2236
rock          1988
party         1751
throwback     1615
jams          1444
worship       1386
summer        1341
lit           1339
feels         1264
new           1251
disney        1102
throwbacks    1083
music         1071
sleep         1039
vibes         1006
edm            994
80s            965
classic rock   935
running        929
classics       912
gym            895
90s            860
run            849
dance          842
road trip      829
hype           828
car            825
pop            823
work           789
old school     754
2017           728
random         716
love           714
wedding        692
hip hop        658
shower         641
relax          626
summer 2017    624
reggae         614
pregame        604
feel good      600
christian      593
rb             592
summer 17      569

In [87]:
words_in_names = []
for i in range(names.shape[0]):
    words_in_names += names[i].split(' ')

In [88]:
words_in_names = pd.DataFrame({'word': words_in_names, 'id':np.arange(len(words_in_names))})

In [89]:
words_in_names

            id         word
0            0          rap
1            1      wedding
2            2          mix
3            3        party
4            4         welp
5            5      worship
6            6          sad
7            7        nibba
8            8        hours
9            9      country
10          10       taylor
11          11          80s
12          12         rock
13          13   engagement
14          14        party
15          15   throwbacks
16          16         punk
17          17      germany
18          18
19          19     broadway
20          20      country
21          21          mix
22          22      english
23          23          pop
24          24        party
25          25        dance
26          26         2015
27          27        dance
28          28        music
29          29        first
...        ...          ...
450541  450541        chill
450542  450542     playlist
450543  450543         best
450544  450544           do
450545  450545         work
450546  450546         sing
450547  450547            a
450548  450548         long
450549  450549         teen
450550  450550          pop
450551  450551          lit
450552  450552      morning
450553  450553  roadtrippin
450554  450554        party
450555  450555         best
450556  450556           of
450557  450557       disney
450558  450558    throwback
450559  450559        dance
450560  450560      cruisin
450561  450561          old
450562  450562       school
450563  450563         hood
450564  450564          rat
450565  450565         jazz
450566  450566      current
450567  450567         band
450568  450568         jams
450569  450569         fall
450570  450570         2014

[450571 rows x 2 columns]

In [90]:
grouped = words_in_names.groupby('word')

In [94]:
grouped.count().sort_values(by='id', ascending=False)[50:100]

               id
word
hop          1437
run          1392
hip          1380
spring       1367
slow         1346
for          1329
classics     1297
trip         1288
running      1279
gym          1272
christian    1247
edm          1241
sleep        1241
throwbacks   1236
me           1215
tunes        1182
you          1158
sad          1131
feel         1111
2014         1109
random       1109
shower       1088
hype         1063
i            1053
study        1025
jamz         1018
spanish      1013
2            1003
day          1002
16            962
rb            923
all           920
alternative   889
indie         878
3             847
in            839
get           832
mood          831
beach         827
back          821
morning       806
fun           800
but           783
house         782
reggae        776
favorites     776
goodies       773
a             769
driving       768
mellow        765