In [1]:
import numpy as np
import pandas as pd

In [2]:
data_dir = '/home/vadim/playlist_generation/data'

In [3]:
tracks = pd.read_csv('{}/tracks.csv'.format(data_dir), index_col=0)

/usr/local/lib/python3.5/dist-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [4]:
print ('Number of most nonpopular',tracks[tracks.popular == 1].shape[0], '\n', 
       'Popularity of most popular', tracks.popular.max(), '\n',
       'Mean popularity', tracks.popular.mean(), '\n',
       'Median',tracks.popular.median(), '\n',
       'Number of users>=10',tracks[tracks.popular >= 10].shape[0], '\n'
       'Number transactions', tracks.popular.sum())
tracks.head()

Number of most nonpopular 638612
 Popularity of most popular 13977
 Mean popularity 15.997936875138299
 Median 1.0
 Number of users>=10 166426
Number transactions 19881836

   trackid  popular  artistid  albumid
0   774269        2      3810    76935
1   432553        2      7239    13835
2  1236511        1    133426   446132
3   969465        1      6838    53879
4   302436        6     16816    35620

In [5]:
artists = pd.read_csv('{}/artists.csv'.format(data_dir), index_col=0)

In [6]:
print ('Number of most nonpopular',artists[artists.popular == 1].shape[0], '\n',
       'Popularity of most popular', artists.popular.max(), '\n'
       'Mean popularity', artists.popular.mean(), '\n',
       'Median',artists.popular.median(), '\n',
       'Number of users>=10',artists[artists.popular >= 10].shape[0], '\n',
       'Number transactions', artists.popular.sum())
artists.head()

Number of most nonpopular 65530
 Popularity of most popular 251773
Mean popularity 111.15181331797775
 Median 3.0
 Number of users>=10 47295
 Number transactions 19881836

   artistid  popular
0     58476        1
1    133660        1
2     42343        3
3    103158        1
4      1656     3577

In [7]:
albums = pd.read_csv('{}/albums.csv'.format(data_dir), index_col=0)
print ('Number of the most nonpopular',albums[albums.popular == 1].shape[0], '\n',
       'Popularity of the most popular', albums.popular.max(), '\n',
       'Mean popularity', albums.popular.mean(), '\n',
       'Median',albums.popular.median(), '\n',
       'Number of users>=10',albums[albums.popular >= 10].shape[0], '\n',
       'Number transactions', albums.popular.sum())
albums.head()

Number of the most nonpopular 166217
 Popularity of the most popular 46526
 Mean popularity 44.37731519715726
 Median 2.0
 Number of users>=10 106367
 Number transactions 19881836

   albumid  popular
0    86118        1
1   362627        3
2   104733       67
3   266531        4
4    60761       46

In [8]:
transactions = pd.read_csv('{}/transactions.csv'.format(data_dir), index_col=0)

/usr/local/lib/python3.5/dist-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [9]:
transactions.head()

      pid  trackid
0  822000        0
1  822000        1
2  822000        2
3  822000        3
4  822000        4

In [18]:
playlists = pd.read_csv('{}/playlists.csv'.format(data_dir), index_col=0)
playlists.head()

      pid         name  num_followers
0  822000          rap              1
1  822001  wedding mix              1
2  822002        Party              1
3  822003         wElP              1
4  822004      Worship              1

In [11]:
playlists.shape

(300000, 3)

In [12]:
playlists.name.unique().shape

(52531,)

In [27]:
playlists['name'].values[2]

NameError: name 'lower' is not defined

In [29]:
playlists['name'] = [str(playlists['name'].values[i]).lower() for i in range(playlists.shape[0])]

In [32]:
playlists.name.unique().shape

(29569,)

In [30]:
grouped = playlists[['pid', 'name']].groupby('name')

In [41]:
grouped.count().sort_values(by='pid', ascending=False)[3000:4000]

                  pid
name
r&b jams           16
slap               16
ava                16
kizomba            16
aux cord           16
lover              16
pura vida          16
feelin' it         16
lolla 2016         16
eclectic           16
awesome playlist   16
edc                16
worship playlist   16
riri               16
üôèüèº                 16
m√∫sica             16
lit lit lit        16
y2k                16
anniversary        16
4 u                16
yeezus             16
car playlist       16
rockin out         16
miss you           16
today's hits       16
dopamine           16
beastmode          16
yes please         16
derp               16
destiny            16
...               ...
club music         13
ho ho ho           13
ideas              13
justin bieber      13
worship jams       13
found              13
down south         13
atmospheric        13
stand by me        13
jams 2.0           13
worship 2          13
strong             13
pump up jams       13
angry music        13
tracks             13
--                 13
80's new wave      13
emotion            13
southern gothic    13
in my bag          13
kd                 13
üíÅüèº                 13
dang               13
fgl                13
rwby               13
surrender          13
jay-z              13
morning run        13
baked              13
old jams           13

[1000 rows x 1 columns]

In [13]:
tracks.popular.quantile(q=.5)

1.0

In [14]:
def get_threholds(tracks, parts=[1, 0]):
    threholds = []
    n = len(parts) - 1
    for i in range(n):
        t1 = round(tracks.popular.quantile(q=parts[i]))
        t2 = round(tracks.popular.quantile(q=parts[i+1]))
        if i == n - 1:
            t2 = 0
        threholds.append((t1, t2))
    return threholds
thrs = get_threholds(tracks, [1, 0.999, 0.98, 0.88, 0])
thrs

[(13977, 2039), (2039, 109), (109, 11), (11, 0)]