In [1]:
import numpy as np
import pandas as pd

In [2]:
data_dir = '/home/vadim/playlist_generation/data'

In [3]:
tracks = pd.read_csv('{}/tracks.csv'.format(data_dir), index_col=0)

/usr/local/lib/python3.5/dist-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [4]:
print ('Number of most nonpopular',tracks[tracks.popular == 1].shape[0], '\n', 
       'Popularity of most popular', tracks.popular.max(), '\n',
       'Mean popularity', tracks.popular.mean(), '\n',
       'Median',tracks.popular.median(), '\n',
       'Number of users>=10',tracks[tracks.popular >= 10].shape[0], '\n'
       'Number transactions', tracks.popular.sum())
tracks.head()

Number of most nonpopular 638612
 Popularity of most popular 13977
 Mean popularity 15.997936875138299
 Median 1.0
 Number of users>=10 166426
Number transactions 19881836

   trackid  popular  artistid  albumid
0  1070058        1    158040   395915
1     7026      183      2742     4584
2  1101862        1     90451   242195
3   644004        3     95072   233693
4    82875       18      5522    43347

In [5]:
artists = pd.read_csv('{}/artists.csv'.format(data_dir), index_col=0)

In [6]:
print ('Number of most nonpopular',artists[artists.popular == 1].shape[0], '\n',
       'Popularity of most popular', artists.popular.max(), '\n'
       'Mean popularity', artists.popular.mean(), '\n',
       'Median',artists.popular.median(), '\n',
       'Number of users>=10',artists[artists.popular >= 10].shape[0], '\n',
       'Number transactions', artists.popular.sum())
artists.head()

Number of most nonpopular 65530
 Popularity of most popular 251773
Mean popularity 111.15181331797775
 Median 3.0
 Number of users>=10 47295
 Number transactions 19881836

   artistid  popular
0    122954        2
1    102983        1
2    126433        6
3    124391        2
4    112218        1

In [8]:
albums = pd.read_csv('{}/albums.csv'.format(data_dir), index_col=0)
print ('Number of the most nonpopular',albums[albums.popular == 1].shape[0], '\n',
       'Popularity of the most popular', albums.popular.max(), '\n',
       'Mean popularity', albums.popular.mean(), '\n',
       'Median',albums.popular.median(), '\n',
       'Number of users>=10',albums[albums.popular >= 10].shape[0], '\n',
       'Number transactions', albums.popular.sum())
albums.head()

Number of the most nonpopular 166217
 Popularity of the most popular 46526
 Mean popularity 44.37731519715726
 Median 2.0
 Number of users>=10 106367
 Number transactions 19881836

   albumid  popular
0    19996       16
1   224812        4
2   312145        1
3   375955        1
4   120811        4

In [9]:
transactions = pd.read_csv('{}/transactions.csv'.format(data_dir), index_col=0)

/usr/local/lib/python3.5/dist-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [10]:
transactions.head()

   userid  trackid
0  822000        0
1  822000        1
2  822000        2
3  822000        3
4  822000        4

In [11]:
playlists = pd.read_csv('{}/playlists.csv'.format(data_dir), index_col=0)
playlists.head(20)

       pid              name  num_followers
0   822000               rap              1
1   822001       wedding mix              1
2   822002             Party              1
3   822003              wElP              1
4   822004           Worship              1
5   822005   Sad Nibba Hours              1
6   822006         country:)              1
7   822007            TAYLOR              1
8   822008          80s rock              3
9   822009  engagement party              1
10  822010        throwbacks              2
11  822011              punk              1
12  822012          Germany               1
13  822013          Broadway              1
14  822014       Country mix              2
15  822015       English Pop              1
16  822016            Party!              1
17  822017        Dance 2015              3
18  822018       Dance Music              1
19  822019        First Love              1

In [12]:
playlists.name.unique().shape

(52531,)

In [13]:
tracks.popular.quantile(q=.5)

1.0

In [14]:
def get_threholds(tracks, parts=[1, 0]):
    threholds = []
    n = len(parts) - 1
    for i in range(n):
        t1 = round(tracks.popular.quantile(q=parts[i]))
        t2 = round(tracks.popular.quantile(q=parts[i+1]))
        if i == n - 1:
            t2 = 0
        threholds.append((t1, t2))
    return threholds
thrs = get_threholds(tracks, [1, 0.999, 0.98, 0.88, 0])
thrs

[(13977, 2039), (2039, 109), (109, 11), (11, 0)]